.sidibar {
    width: 1920px;
    height: 750px;
    background: #1e1e21;


    &__logo {
        margin-left: 225px;
        margin-top: 25px;
    }

    &__logo1 {
        margin-left: 300px;
        margin-top: 50px;
    }
}